
{% assign items_list_new = settings.megamenunew | split:"," | strip | downcase %}
{% assign items_list_hot = settings.megamenuhot | split:"," | strip | downcase %}
{% assign megamenu_image_index = 1 %}
{% assign megamenu_content_index = 1 %}
<div class="col-md-5 col-sm-5 col-xs-6">
  <div id="nova-mobile-menu" class="visible-md visible-sm visible-xs">{% render 'icon-menu' %}</div>
 
  <!-- Header Top Menu -->
  <div class="main-navigation hidden-md hidden-sm hidden-xs">
    <div class="header-topMenu">
      <div class="header-topMenu-inner">
       

        <!-- Desktop menu -->
        <div class="novaworks-navigation">
          <div class="novaworks-main-menu">
            <ul id="novaworks-nav" class="megamenu">
              {% for link in linklists['main-menu'].links %}
              {% assign cat = link.title | downcase %}
              <li class="level0 level-top{% if link.active %} active{% endif %}{% if items_list_1 contains cat or items_list_2 contains cat or linklists[link.handle] != empty %}{% if items_list_1 contains cat or items_list_2 contains cat %} parent{% else %} parent-dropdown{% endif %}{% endif %}">
                <a href="{{link.url}}" class="level-top">
                  <span>
                    {{link.title}}
                    {% if items_list_new contains cat %}
                    <span class="cat-label cat-label-label1 pin-bottom">New</span>
                    {% elsif items_list_hot contains cat %}
                    <span class="cat-label cat-label-label2 pin-bottom">Hot</span>
                    {% endif %}
                  </span>
                  {% if items_list_1 contains cat or items_list_2 contains cat or linklists[link.handle] != empty %}<i class="fa fa-angle-down"></i>{% endif %}
                </a>
                 
                {% if linklists[link.handle] != empty %}
                <div class="level0 sub-wrappers">
                  {% if linklists[link.handle] != empty %}
                  {% if linklists[link.handle].links.size > 5 %}
                  	{% assign sub_menu_col = 5 %}
                  {% else %}
                    {% assign sub_menu_col = linklists[link.handle].links.size %}
                  {% endif %}
                  <div class="menu_grid">
                    {%- for block in section.blocks  -%}
                    {%- assign mega_menu = 0 | plus: 0 -%}
                    {% if block.settings.image1 != blank %}
                    {%- assign mega_menu = mega_menu | plus: 1 -%}
                    {% endif %}
                    {% if block.settings.image2 != blank %}
                    {%- assign mega_menu = mega_menu | plus: 1 -%}
                    {% endif %}
                    {% if block.settings.image3 != blank %}
                    {%- assign mega_menu = mega_menu | plus: 1 -%}
                    {% endif %}
                    {% if block.settings.image4 != blank %}
                    {%- assign mega_menu = mega_menu | plus: 1 -%}
                    {% endif %}
                    {% if block.settings.image6 != blank %}
                    {%- assign mega_menu = mega_menu | plus: 1 -%}
                    {% endif %}
                    {% if block.settings.image7 != blank %}
                    {%- assign mega_menu = mega_menu | plus: 1 -%}
                    {% endif %}

                    {%- assign menu_title = link.title | downcase -%}
                    {%- assign block-title = block.settings.title | downcase -%}
                    {% if menu_title == block-title  %}

                    <div class="header-mega-menu row">

                      <div class="{{ megamenu_item_block }} mega_menu_left">
                        <h3>Shop all</h3>
                        <ul class="mainlink">
                          {% for sublink in linklists[link.handle].links %}
                          <li class="level1 menugroups">
                            <a href="{{ sublink.url }}"><span class="title_group">{{ sublink.title }}</span></a>
                            {% if linklists[sublink.handle] != empty %}
                            <div class="menugroups-wrapper">
                              <ul class="level1">
                                {% for subsublink in linklists[sublink.handle].links %}
                                <li class="level2 {% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
                                  <a href="{{ subsublink.url }}"><span>{{ subsublink.title }}</span></a>
                                </li>
                                {% endfor %}
                              </ul>
                            </div>
                            {% endif %}
                          </li>
                          {% endfor %}
                        </ul>
                        
                      </div>

                      <div class=" mega_menu_right">
                        <div class=" mega_menu_right_list">
                       
                      {% if block.settings.image1 != blank %}
                      <div class="mega_menu_item">
                      <a href="{{ block.settings.link1 }}" class=""">
                        <img src="{{ block.settings.image1 | img_url : '400x400'}}">
                        {% if block.settings.menutitle1 != blank %}
                        <div class="">{{block.settings.menutitle1}}</div>
                        {% endif %}
                      </a>
                    </div>
                      {% endif %}
                     
                   
                      {% if block.settings.image2 != blank %}
                      <div class="mega_menu_item">
                      <a href="{{ block.settings.link2 }}" class="">
                        <img src="{{ block.settings.image2 | img_url : '400x400'}}">
                        {% if block.settings.menutitle2 != blank %}
                        <div class="">{{block.settings.menutitle2}}</div>
                        {% endif %}
                      </a>
                    </div>
                      {% endif %}
                     
                     
                      {% if block.settings.image3 != blank %}
                      <div class="mega_menu_item">
                      <a href="{{ block.settings.link3 }}" class="">
                        <img src="{{ block.settings.image3 | img_url : '400x400'}}">
                        {% if block.settings.menutitle3 != blank %}
                        <div class="">{{block.settings.menutitle3}}</div>
                        {% endif %}
                      </a>
                    </div>
                      {% endif %}
                     
                     
                      {% if block.settings.image4 != blank %}
                      <div class="mega_menu_item">
                      <a href="{{ block.settings.link4 }}" class="">
                        <img src="{{ block.settings.image4 | img_url : '400x400'}}">
                        {% if block.settings.menutitle4 != blank %}
                        <div class="">{{block.settings.menutitle4}}</div>
                        {% endif %}
                      </a>
                    </div>
                      {% endif %}
                      
                     
                      {% if block.settings.image5 != blank %}
                      <div class="mega_menu_item">
                      <a href="{{ block.settings.link5 }}" class="">
                        <img src="{{ block.settings.image5 | img_url : '400x400'}}">
                        {% if block.settings.menutitle5 != blank %}
                        <div class="">{{block.settings.menutitle5}}</div>
                        {% endif %}
                      </a>
                    </div>
                      {% endif %}
                     
                      
                      {% if block.settings.image6 != blank %}
                      <div class="mega_menu_item">
                      <a href="{{ block.settings.link6 }}" class="">
                        <img src="{{ block.settings.image6 | img_url : '400x400'}}">
                        {% if block.settings.menutitle6 != blank %}
                        <div class="">{{block.settings.menutitle6}}</div>
                        {% endif %}
                      </a>
                    </div>
                      {% endif %}
                      
                      </div>
                      </div>
                    </div>
                    {% endif %}
                    {%- endfor -%}
                  </div>
                  {% endif %}
                </div>
              
                {% else %}
                <ul class="level0 menu-dropdown">
                  {% for sublink in linklists[link.handle].links %}
                  <li class="level1 groups item {% if linklists[sublink.handle] != empty %}has-dropdown{% endif %} {% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
                    <a href="{{ sublink.url }}"><span class="title_group">{{ sublink.title }}</span></a>
                    {% if linklists[sublink.handle] != empty %}
                    <ul class="level1">
                      {% for subsublink in linklists[sublink.handle].links %}
                      <li class="level2 {% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
                        <a href="{{ subsublink.url }}"><span>{{ subsublink.title }}</span></a>
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
               
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- End Desktop menu -->
      </div>
    </div>
  </div>
</div>
