<div style="background-image: url({% if collection.image %}{{ collection.image | img_url: 'original' }}{% else %}{{ 'header_default_img.jpg' | asset_url }}{% endif %})" class="parallax-box parrallax-page-title alt-bg parallax-shop" data-stellar-background-ratio="0.4"></div>
<div class="main-container">
  <div class="main container">
    <div class="row">
      <div class="col-md-6 col-md-push-3">
        <div class="page-title">
          <h1>{{ 'customer.reset_password.title' | t }}</h1>
        </div>
        {% form 'reset_customer_password' %}
        {{ form.errors | default_errors }}
        <ul class="form-list">
          <li>
            <label for="password">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="customer_password" class="input-text" size="16" />
          </li>
          <li>
            <label for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="input-text" size="16" />
          </li>
        </ul>
        <div class="buttons-set no-margin">
          <button type="submit" title="Submit" class="button"><span><span>{{ 'customer.reset_password.submit' | t }}</span></span></button>
        </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>
