<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta name="google-site-verification" content="iRB08IbgqlYe6nuMZbBW8Z9qh0EwYp-J-9GUQdtjnUc" />
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>
    {{ page_title }}{% if current_tags %} &ndash; {{ 'general.meta.tagged' | t }} "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t }} {{ current_page }}{% endif %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  <!-- Favicons -->
  {% if settings.use_favicon %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  {{ 'plugins.css' | asset_url | stylesheet_tag }}  
  {{ 'main.css' | asset_url | stylesheet_tag }}
  {{ 'megamenu.css' | asset_url | stylesheet_tag }}
  {{ 'static-blocks.css' | asset_url | stylesheet_tag }}
  {{ 'bazien.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  
  <!-- Javascript -->

  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ 'jquery-migrate-1.2.0.min.js' | asset_url | script_tag }}
  {% if template contains 'contact' %}
  <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
  {% endif %}
  {{ 'plugins.js' | asset_url | script_tag }}
  {{ 'novaworks.js' | asset_url | script_tag }}
  {{ 'jquery.themepunch.tools.min.js' | asset_url | script_tag }}
  {{ 'jquery.themepunch.revolution.min.js' | asset_url | script_tag }}
  {{ 'jquery.transit.min.js' | asset_url | script_tag }}
  {{ 'jquery.megamenu.js' | asset_url | script_tag }}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% if template contains 'customers' %}

  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {{ 'social-buttons.js' | asset_url | script_tag }}
  <!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="css/settings-ie8.css" media="all" /><![endif]-->
  <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-card' %}

  {% if settings.slide_fonts_type == 'google_fonts' or settings.font_1 == 'google_fonts' or settings.font_2 == 'google_fonts' or settings.font_3 == 'google_fonts' or settings.font_4 == 'google_fonts' %}
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 
        {% if settings.font_1 == 'google_fonts' %}
        '{{ settings.fonts_name_1 }}:100,200,300,400,500,600,700,800,900'
        {% endif %}

        {% if settings.font_2 == 'google_fonts' %}
        {% if settings.font_1 == 'google_fonts' %}
        ,
        {% endif %}      
        '{{ settings.fonts_name_2 }}:100,200,300,400,500,600,700,800,900'
        {% endif %}

        {% if settings.font_3 == 'google_fonts' %}
        {% if settings.font_1 == 'google_fonts' or settings.font_2 == 'google_fonts' %}
        ,
        {% endif %}      
        '{{ settings.fonts_name_3 }}:100,200,300,400,500,600,700,800,900'
        {% endif %}

        {% if settings.font_4 == 'google_fonts' %}
        {% if settings.font_1 == 'google_fonts' or settings.font_2 == 'google_fonts' or settings.font_3 == 'google_fonts' %}
        ,
        {% endif %}      
        '{{ settings.fonts_name_4 }}:100,200,300,400,500,600,700,800,900'
        {% endif %}
        
        {% if settings.font_5 == 'google_fonts' %}
        {% if settings.font_1 == 'google_fonts' or settings.font_2 == 'google_fonts' or settings.font_3 == 'google_fonts' or settings.font_4 == 'google_fonts' %}
        ,
        {% endif %}      
        '{{ settings.fonts_name_5 }}:100,200,300,400,500,600,700,800,900'
        {% endif %}

        {% if settings.slide_fonts_type == 'google_fonts' %}
        {% if settings.font_1 == 'google_fonts' or settings.font_2 == 'google_fonts' or settings.font_3 == 'google_fonts' or settings.font_4 == 'google_fonts' or settings.font_5 == 'google_fonts' %}
        ,
        {% endif %}      
        '{{ settings.slide_fonts_name }}:100,200,300,400,500,600,700,800,900'
        {% endif %}
      ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })(); 
    {% if customer %}
	var customer_email = '{{ customer.email }}';
    var customer_tags = {{ customer.tags | json}};
    {% endif %}
    window.money_format = "{{shop.money_with_currency_format}}";
    window.shop_currency = "{{ shop.currency }}";
  </script>
  {% endif %}

<!-- Hotjar Tracking Code for https://cohorted.myshopify.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:819310,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  {{ content_for_header }}
{%- render 'bold-common' -%}
{%- render 'bold-ro-init' -%}
{{ 'bold-ro.css' | asset_url | stylesheet_tag }}
  
  
<!-- Global site tag (gtag.js) - Google Ads: 965843437 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-965843437"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-965843437');
</script>
  
  
  
  

  {% render 'shogun-head' %}
  {% include "loyaltylion" %}
  {%- render 'bold-subscription-widget' -%}
</head>

<body class="{% if template contains 'index' %}header-transparent{% else %}header-black-inner{% endif %} cms-home-v2 cms-{{template}}{% if template contains 'index' or template contains 'collection' or template contains 'product' or template contains 'customers' %} white-nav{% endif %}">
  <div id="nova-notification" class="ajax-notification">
    <div class="notification-content"></div>
    <a href="javascript:;" class="btn-remove">Close</a>
  </div>
  <div class="wrapper">
    <div class="page">
      <div id="header-container" class="header-container" data-sticky-class="not-dark">
        <!-- Top Header -->
        <div class="top-header">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 welcome-msg">{{ settings.welcome_msg }}</div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">               
                <!-- Header Currency -->
                {% if settings.show_multiple_currencies %}
                <div class="pull-right top-dropdown currency">
                  {% include 'currency-picker' %}
                  <i class="fa fa-angle-down"></i>
                </div>
                {% endif %}
                <!-- End Header Currency -->
                <div class="pull-right top-dropdown header-links">
                  {% if shop.customer_accounts_enabled %}
                  <p class="label">My Account</p>
                  <ul class="links">
                    <li class="first"><a href="/account" title="My Account">My Account</a></li>
                    {% if settings.enable_wishlist %}
                    <li><a href="/pages/wish-list" title="My Wishlist">My Wishlist</a></li>
                    {% endif %}
                    <li><a href="/checkout" title="Checkout">Checkout</a></li>

                    {% if customer  %}
                    <li class="last">{{ 'Logout' | customer_logout_link }}</li>
                    {% else %}
                    <li>{{ 'Sign up' | customer_register_link }}</li>
                    <li class="last">{{ 'Login' | customer_login_link }}</li>
                    {% endif %}
                  </ul>
                  {% else %}
                  <p class="label">Checkout</p>
                  <ul class="links">
                    <li><a href="/checkout" title="Checkout">Checkout</a></li>
                  </ul>
                  {% endif %} 
                  <i class="fa fa-angle-down"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Top Header -->
        <div class="nav-container">
          <!-- Header -->
          <div class="logo-fade" id="header-section">
            <div class="container nova-header">
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <!-- Header Logo -->
                  <div class="header-logo">
                    <div class="logo-center clearfix" id="logo">
                      <h1 class="logo">
                        <a href="{{shop.url}}">
                          {% if settings.logo_type == 'image' %}
                            {% if template contains 'index' or template contains 'collection' or template contains 'product' or template contains 'customers' %}
                            <img title="Cohorted - Cohorted Beauty Box Subscription" alt="Cohorted - Cohorted Beauty Box Subscription" src="{{ 'logo_light.png' | asset_url }}" class="standard" />
                            <img title="Cohorted - Cohorted Beauty Box Subscription" alt="Cohorted - Cohorted Beauty Box Subscription" src="{{ 'logo_light.png' | asset_url }}" class="retina" />
                            {% else %}
                            <img title="Cohorted - Cohorted Beauty Box Subscription" alt="Cohorted - Cohorted Beauty Box Subscription" src="{{ 'logo_dark.png' | asset_url }}" class="standard" />
                            <img title="Cohorted - Cohorted Beauty Box Subscription" alt="Cohorted - Cohorted Beauty Box Subscription" src="{{ 'logo_light.png' | asset_url }}" class="retina" />
                            {% endif %}
                          {% else %}
                          	{{ settings.brand_text }}
                          {% endif %}
                        </a>
                      </h1>
                    </div>
                  </div>
                  <!-- End Header Logo -->
                </div>
                <!-- Start Header Top Menu -->
                {% include 'mega_menu' %}
                <!-- End Header Top Menu -->
                <div class="col-md-2 col-sm-2 col-xs-6 no-relative">
                  <!-- Top Search ============================================= -->
                  <div id="top-search">
                    <a href="javascript;" id="top-search-trigger">
                      <i class="fa fa-search"></i>
                      <i class="fa fa-times"></i>
                    </a>
                    <form action="/search" method="GET" id="search_mini_form">
                      <input id="search" type="text" placeholder="Type & Hit Enter.." name="q" value="" class="input-text" maxlength="128" autocomplete="off">
                    </form>
                  </div>
                  <!-- End Top Search ============================================= -->
                  <div id="cart">
                    <div class="parent shopping-bag-item">
                      <a class="cart-contents" href="/cart" title="View contents of your shopping cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="cart-count">{{ cart.item_count }}</span>
                      </a>
                      <div class="shopping-bag">
                        {% if cart.item_count > 0%}
                        <div class="bag-header">There are <span class="cart-count">{{ cart.item_count }}</span> {{ cart.item_count | pluralize: 'item', 'items' }} in your cart</div>
                        <div class="bag-contents">
                          {% for item in cart.items %}
                          <div class="item">
                            <div class="product-image">
                              <a href="{{ item.url }}" title="{{ item.title | escape }}" class="image">
                                <img src="{{ item | img_url: 'small' }}" width="87" height="103" alt="{{ item.title | escape }}">
                              </a>
                            </div>
                            <div class="product-details">
                              <div class="product-name"> 
                                <a href="{{ item.url }}">{{ item.title | escape }}</a>
                              </div>
                              <span class="bold_ro_desc" data-product-id="{{item.id}}-{{ forloop.index0 }}"></span>
<span class="bold_load_cart_item_properties"></span>

 
                              <span class="price"><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" style="display:none !important;"></span>
{{ item.line_price | money }}</span>
                              <div class="quantity">Qty: <strong>{{ item.quantity }}</strong></div>
                              <a onclick="changeCartProduct({{item.id}}, 0)" title="Remove This Item" class="btn-remove"><i class="fa fa-times"></i></a>
                            </div>
                          </div>
                          <hr>
                          {% endfor %}
                        </div>
                        <div class="bag-buttons">								
                          <a href="/cart" class="sf-roll-button bag-button">
                            <span>View Cart</span>
                            <span>View Cart</span>
                          </a>
                          <a href="/checkout" name="checkout" class="sf-roll-button checkout-button">
                            <span>Check Out</span>
                            <span>Check Out</span>
                          </a>
                        </div>
                        {% else %}
                        <div class="shopping-no-items">
                          <p class="empty">You have no items in your shopping cart.</p>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- CLOSE .row -->
            </div>
            <!-- CLOSE .container -->
          </div>
          <!-- End Header -->
        </div>
      </div>
      {{ content_for_layout }}
      <!-- Begin footer -->
      <style>
          #new-feed h2 {
              margin: 20px 0 30px;
              color: #202020;
              font-family: Lato,Arial,Helvetica,sans-serif;
              font-weight: 400;
              text-transform: uppercase;
              font-size: 24px;
              line-height: 32px;
              text-align: center;
          }
          div#new-feed {
              margin-bottom: -11px;
          }
      </style>

      <div id="new-feed">
          <h2>#COHORTED</h2>
          <div id="flockler-embed-17be0c97de90dbfd60f1135add4bcc15"></div>
          <script src="https://plugins.flockler.com/embed/1799f9b6a5a0aeb864e0fbd97c56a8b5/17be0c97de90dbfd60f1135add4bcc15" async></script>
      </div>
      <div id="footer-bg" class="footer-bg">
        <div id="footer">
          <div id="footer_a">
            <div class="container">
              <div class="row">
                <div class="footer-top">
                  <div class="logo-ft">
                    <img src="{{ 'logo-ft.png' | asset_url }}" title="Cohorted be you be beautiful, Cohorted" alt="Cohorted be you be beautiful, Cohorted" />
                  </div>
                  <p class="text-center">{{ settings.footer_top_text }}</p>
                  <ul class="icon">
                    {% if settings.footer_facebook_link != '' %}
                    <li><a href="{{settings.footer_facebook_link}}"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if settings.footer_twitter_link != '' %}
                    <li><a href="{{settings.footer_twitter_link}}"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if settings.footer_pinterest_link != '' %}
                    <li><a href="{{settings.footer_pinterest_link}}"><i class="fa fa-pinterest-p"></i></a></li>
                    {% endif %}
                    {% if settings.footer_instagram_link != '' %}
                    <li><a href="{{settings.footer_instagram_link}}"><i class="fa fa-instagram"></i></a></li>
                    {% endif %}
                    {% if settings.footer_googleplus_link != '' %}
                    <li><a href="{{settings.footer_googleplus_link}}"><i class="fa fa-google-plus"></i></a></li>
                    {% endif %}
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div id="footer_c">
            <div class="container">
              <!-- Information -->
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <div class="widget-heading clearfix">
                    <h3>
                      <span>{{ settings.footer_column1_title }}</span>
                      <span class="line-ft"></span>
                    </h3>
                  </div>
                  <div class="widget-text">
                    
                    
                    
                    <ul>
                      {% assign footerCol1 = settings.footer_column1_linklist %}
                      {% for link in linklists[footerCol1].links %}
                      <li>{{ link.title | link_to: link.url }}</li>
                      {% endfor %}
                    </ul>
                  </div>

                </div>
                <div class="col-md-3 col-sm-3">
                  <div class="widget-heading clearfix">
                    <h3>
                      <span>{{ settings.footer_column2_title }}</span>
                      <span class="line-ft"></span>
                    </h3>
                  </div>
                  <div class="widget-text">
                    <ul>
                      {% assign footerCol2 = settings.footer_column2_linklist %}
                      {% for link in linklists[footerCol2].links %}
                      <li>{{ link.title | link_to: link.url }}</li>
                      {% endfor %}
                    </ul>
                  </div>

                </div>
                <div class="col-md-3 col-sm-3">
                  <div class="widget-heading clearfix">
                    <h3>
                      <span>{{ settings.footer_column3_title }}</span>
                      <span class="line-ft"></span>
                    </h3>
                  </div>
                  <div class="widget-text">
                    <ul>
                      {% assign footerCol3 = settings.footer_column3_linklist %}
                      {% for link in linklists[footerCol3].links %}
                      <li>{{ link.title | link_to: link.url }}</li>
                      {% endfor %}
                    </ul>
                  </div>

                </div>
                <div class="col-md-3 col-sm-3">
                  <div class="widget-heading clearfix">
                    <h3>
                      <span>{{ settings.footer_column4_title }}</span>
                      <span class="line-ft"></span>
                    </h3>
                  </div>
                  <div class="widget-text">
                    {{ settings.shop_contact_infos }}				
                  </div>	
                </div>										
              </div>
              <!-- End Information -->
            </div>
          </div>
          <div id="footer_d">
            <div class="container copyright-footer">
              <div class="footer">
                <div class="row">	    
                  <div class="footer-copyright-left col-md-7 col-sm-7">		    		
                    <address>{{ settings.copyright }}</address>	    	
                  </div>
                  <div class="footer-copyright-right col-md-5 col-sm-5">
                    <div class="paypal-logo">
                      {% if settings.payment_1_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="Comodo, Cohorted" alt="Comodo, Cohorted" src="{{ 'payment_image_1.png' | asset_url }}"/>
                      </a>
                      {% endif %}
                      {% if settings.payment_2_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="PayPal, Cohorted" alt="PayPal, Cohorted" src="{{ 'payment_image_2.png' | asset_url }}"/>
                      </a>
                      {% endif %}
                      {% if settings.payment_3_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="Visa, Cohorted" alt="Visa, Cohorted" src="{{ 'payment_image_3.png' | asset_url }}"/>
                      </a>
                      {% endif %}
                      {% if settings.payment_4_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="Reviews, Cohorted" alt="Reviews, Cohorted" src="{{ 'payment_image_4.png' | asset_url }}"/>
                      </a>
                      {% endif %}
                      {% if settings.payment_5_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="PayPal" alt="" src="{{ 'payment_image_5.png' | asset_url }}"/>
                      </a>
                      {% endif %}
                      {% if settings.payment_6_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="PayPal" alt="" src="{{ 'payment_image_6.png' | asset_url }}"/>
                      </a>	
                      {% endif %}
                    </div>		 
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end footer_d -->
        </div><!-- end footer --> 
      </div><!-- end footer-bg -->
      {% if settings.enable_newsletter_popup %}
      <section class="block-subscribe-popup" id="popup-newsletter"> 
        <div class="indent">
          <h3>CLAIM YOUR FREE GIFT</h3> 
          <form method="post" action="" name="mc-embedded-subscribe-form">
            <div class="block-content">
              <label for="newsletter-2">{{ settings.newsletter_description }}</label>
              <div class="input-box">
                <a class="button" href="https://www.cohorted.co.uk/pages/black-edition">Subscribe</a>
                <div class="clear"></div>
              </div>
            </div>
          </form>
        </div>
        <div class="clear"></div>
      </section>
      {% endif %}
      <!-- End footer -->

      {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}

      {% if settings.enable_product_image_zoom %}
      {{ 'jquery.zoom.js' | asset_url | script_tag }}
      {% endif %}
    </div><!-- end page -->
  </div><!-- end wrapper -->
  {% if settings.show_multiple_currencies %}
  {% include 'currencies' %}
  {% endif %}
	
  {% if product.available %}
  <script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
  {% else %}
  <script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount=0;window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
  {% endif %}
  
      <script>
      $(document).on('change', '.single-option-selector', function(){
        if (BOLD && BOLD.recurring_orders && BOLD.recurring_orders.app && BOLD.recurring_orders.app.ee &&
                  typeof BOLD.recurring_orders.app.ee.emit === 'function'){
                BOLD.recurring_orders.app.ee.emit('variant_changed');
              }
      });
    </script>
  <script type="text/javascript">!function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="//www.rtb123.com/tags/57D9D6C5-B0B3-2E0B-F1F7-585F53664F75/btp.js";var t=document.getElementsByTagName("head")[0];t?t.appendChild(e,t):(t=document.getElementsByTagName("script")[0]).parentNode.insertBefore(e,t)}();</script>
  <script src="https://www.dwin1.com/21312.js" type="text/javascript" defer="defer"></script>
  <script type="text/javascript" src="https://wrap.tradedoubler.com/wrap?id=24221"></script>
  <!-- Sales Script --> 
<!-- Sales Script --> 
<!-- Start Tradedoubler Landing Page Tag Insert on all landing pages to handle first party cookie-->
<script language="JavaScript">
        (function(i,s,o,g,r,a,m){i['TDConversionObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script', 'https://svht.tradedoubler.com/tr_sdk.js', 'tdconv');
 </script>
<!-- End Tradedoubler tag-->
	
</body>
</html>
