{{ 'cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'cart-drawer.js' | asset_url | script_tag }}
<div class="cart-overlay"></div>
<div class="cart-drawer">
  <div id="cart-value" class="cart-value">
    <div class="cart_header_bar en_header_cart">
      <div class="cart-header">
        <h1>{{ 'cart.general.title' | t }}</h1>
        <div class="drawer-close" onclick="drawerClose()">{% render 'icon-close' %}</div>
      </div>
      {%- if cart.item_count > 0 -%}
      {%- if section.settings.enabled_progress_bar -%}
      {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}
      <div class="Cart__ShippingNotice en_progressbar">
        <div class="Drawer__Container">
          {%- if cart.total_price >= threshold_in_cents -%}
          <p>{{- section.settings.progressbar_second_text_en  -}}</p>
          <div class="custom_progress_bar"><div style="width:100%">{{ free_add  }}</div></div>
          {%- else -%}

          {%- capture remaining_amount -%}<span data-money-convertible>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}</span>{%- endcapture -%}
          {% assign remaining_amount = section.settings.progressbar_first_text | replace : '{{remaining_amount}}', remaining_amount  %}
          <p>{{- remaining_amount  -}}</p>
          {% assign free_add = cart.total_price | times: 100 | divided_by: threshold_in_cents  %}
          <div class="custom_progress_bar"><div style="width:{{ free_add | floor }}%">{{ free_add  }}</div></div>
          {%- endif -%}
        </div>
      </div>
      {%- endif -%}
      {%- endif -%}
    </div>
    <div class="free-ship-text">
      <p>FREE SHIPPING ON ORDERS $50+</p>
    </div>
    {% if cart.item_count > 0 %}
    <div class="cart-drawer-content">
      <form action="/cart" method="post" novalidate>
        <div class="cart-content">
          {% for item in cart.items %}
          <div class="row">
            <div class="cart-block">
            {% if item.image != blank %}
            <div class="col-5 col-md-5">
              <a href="{{ item.url | within: collections.all }}">
                {{ item | img_url: '140x140' | img_tag: item.title }}
              </a>
            </div>
            {% endif %}
            <div class="col-7 col-md-7">
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              
              <div class="cartdrawerquantity">
                <div class="value-qty">
                <span class="minus" onclick="drawerMinus(this)">&#8722;</span>
                <input class="cart__qty-input" data-variantid="{{ item.variant_id }}" type="text" name="updates[]" id="updates_large_{{ item.key }}" value="{{ item.quantity }}" min="0" pattern="[0-9]*" data-quantity-item="{{ forloop.index }}" onchange="drawerInputitem(this)">
                <span class="plus" onclick="drawerPlus(this)">&#43;</span>
                </div>
                <div class="price">
                {% unless item.product.has_only_default_variant %}
              <p>{{ item.variant.title }}</p>
              {% endunless %}
              {% if item.original_line_price != item.line_price %}
              {{ item.price | money }}
              <s>{{ item.original_price | money }}</s>
              {% else %}
              {{ item.price | money }}
              {% endif %}
                  </div>
              </div>
              <span class="cart-remove" data-variantid="{{ item.variant_id }}" onclick="drawerRemove(this)">
                <small>{{ 'cart.general.remove' | t }}</small>
              </span>
            </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="cart_checkout_btn">
          <div class="row">
            <div class="col-md-12">
              <div class="cart-drawer-subtotal"><p>{{ 'cart.general.subtotal' | t }}</p>
                <p class="price-draw">{{ cart.total_price | money }}</p>
                {% if cart.total_discounts > 0 %}
                <p >{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
                {% endif %}
                 
              </div>
              <div class="drawer-shipping">
                <p>SHIPPING</p>
                <p class="price-draw">FREE</p>
              </div>
              <input type="submit" name="checkout" id="cart_btn" class="cart-drawer-btn btn" value="{{ 'cart.general.checkout' | t }}">
<p class="tax-dicount">Taxes and discount codes are added at checkout.</p>
            </div>
          </div>
        </div>
      </form>
    </div>
    {% else %}

    <div class="supports-cookies">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>
    {% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "Cart Drawer",
    "settings": [
	  {
        "type": "checkbox",
        "id": "enabled_progress_bar",
        "label": "Enable Progress Bar",
        "default": true
      },
	  {
        "type": "text",
        "id": "progressbar_first_text",
        "label": "Progress bar first text En",
        "default": "You are {{remaining_amount}} away from free shipping!"
      },
	  {
        "type": "text",
        "id": "progressbar_second_text",
        "label": "Progress bar second text",
        "default": "Congratulations! You are eligible for free shipping!"
      },
	  {
        "type": "text",
        "id": "cart_free_shipping_threshold",
        "label": "Cart free shipping threshold",
        "default": "499"
      }
	]
  }
{% endschema %}

