<style>
	.slider-content-item .content-item::before {
    content: attr(data-number)  !important;
}
</style>

<div class="slider-content">
	<h2 class="site_heading">{{ section.settings.title_main }}</h2>
		<div class="slider-content-items">
			{% for block in section.blocks %} 	
    <div class="slider-content-item">
		<img class="testimonila-image" src="{{ block.settings.featured_image | img_url: 'master' }}" >
		<div class="content-item" data-number="{% if forloop.index < 9%}0{% endif %}{{forloop.index}}">
		
			<h4 class="title-h4">{{ block.settings.title }}</h4>
			<p class="paragraph">{{ block.settings.paragraph }}</p>
			{% if block.settings.linktext != blank %}
<a class="primary-btn-new"  href="{{ block.settings.link }}">{{ block.settings.linktext }}</a>
{% endif %}
<!-- <div class="counter">
	<p>{{ block.settings.count }}</p>
</div> -->
		</div>
	</div>
	{% endfor %}
		</div>

	</div>
	<style>
body #loyaltylion .lion-rules-list {
    gap: 30px;
}
.lion-rule-item {
    counter-increment: css-counter 1;
    border: none;
}
.lion-rule-item__icon::before {
    content: "0" counter(css-counter);
    position: absolute;
    top: 62px;
    left: 0;
    color: #1a1a1a;
    right: 0;
    font: normal normal normal 32px/84px 'Austin';
    margin-bottom: 20px;
    letter-spacing: 3.2px;
    text-align: center;
}
#loyaltylion .lion-rule-item__icon {
    width: 80px;
    height: 80px;
}
#loyaltylion .lion-rule-item__title {
    letter-spacing: 1.2px;
    font-size: 24px;
    line-height: 34px;
    font-family: 'Austin' !important;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    color: #000;
    font-weight: normal;
    text-transform: uppercase;
}

.slider-content-item {
    position: relative;
    padding: 0 12px;
}
.claim-slider {
    margin-bottom: 100px;
    margin-top: 70px;
}
.claim-slider .slick-dots {
    bottom: -73px!important;
}
.content-item {
    background: #000000 0% 0% no-repeat padding-box;
    max-width: 480px;
    padding: 80px 20px 20px 20px;
    text-align: left;
    position: absolute;
    top: 15%;
    left: -30px;
    display: none;
    z-index: 1;
}
.slick-current.slick-active .content-item {
    display: block;
}
p.paragraph {
    font: normal normal normal 14px/24px Avenir Next LT Pro;
    letter-spacing: 0.7px;
    color: #fff;
}
.content-item h4.title-h4 {
    font: normal normal normal 32px/44px Austin;
    letter-spacing: 1.6px;
    color: #fff;
    text-transform: capitalize;
}
a.primary-btn-new {
    border: 1px solid #FFFFFF;
    color: #fff;
    font: normal normal normal 18px/60px Austin;
    height: 60px;
    display: inline-block;
    padding: 0 30px;
    line-height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
	text-transform: uppercase;
}
	.claim-slider .slick-next:before {
			  content: url("{{'arrow-right.png' | asset_img_url:'25x20'}}") !important;
			}
			.claim-slider .slick-prev:before {
			  content: url("{{'arrow-left.png' | asset_img_url:'25x20'}}") !important;
			}

			.claim-slider .slick-prev.slick-arrow {
    left: 29%;
    top: 100% !important;
    transform: translateY(39px);
    z-index: 1;
	box-shadow: none;
}
	.claim-slider .slick-next.slick-arrow {
		right: 29%;
		top: 100% !important;
		transform: translateY(39px);
		box-shadow: none;
		z-index: 1;
		}
	
		.claim-slider .slick-list {
    padding: 0 20% 0 20% !important;
}
	.claim-slider .slick-dots li {
		width: 150px;
		height: 20px;
		margin: 0 !important;
	}
	.claim-slider .slick-dots li button {
		width: 145px !important;
		height: 1px!important;
		padding: 0 !important;
		border: 1px solid #ccc!important;
		background: #ccc;
	}
	.claim-slider .slick-dots li.slick-active button:before {
		opacity: 1!important;
		color: #000;
		background: #000!important;
		height: 2px!important;
		width: 145px!important;
		border-radius: 15px;
	}
	.claim-slider .slick-dots li{
		width: 150px;
	}
	.slick-next:before, .slick-prev:before {
		opacity: 1;
	}
	h2.site_heading {
    font: normal normal normal 80px/70px Austin;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 50px;
}
.slider-content-item {
  position: relative;
  padding: 0 12px;
  counter-increment: css-counter 1;
}   
.slider-content-item .content-item::before {
  content: "0" counter(css-counter);
  position: absolute;
  top: 50px;
  left: 0;
  color: #1a1a1a;
  font-size: 150px;
  font-family: 'FontAwesome';
  z-index: -1;
}
.claim-slider .slick-track {
    position: relative;
}
a.primary-btn-new:hover {
    background: #fff;
    color: #000;
}
@media(max-width:1199px){
.claim-slider .slick-prev.slick-arrow {
    left: 20%;
	transform: translateY(20px);
}
.claim-slider .slick-next.slick-arrow {
    right: 20%;
	transform: translateY(20px);
}
.content-item {
    top: 5%;
}
}
@media(max-width:991px){
	.content-item {
    top: 3%;
}
.content-item h4.title-h4 {
    font: normal normal normal 26px/44px Austin;
    letter-spacing: 1px;
}
p.paragraph {
    font: normal normal normal 12px/24px Avenir Next LT Pro;
}
}

	@media(max-width:767px){
		.claim-slider .slick-list {
    padding: 0 0% 0 0% !important;
}
		.content-item h4.title-h4 {
    font: normal normal normal 21px/29px Austin;
    letter-spacing: 1.6px;
}
.claim-slider .site_heading {
    margin-bottom: 35px!important;
    margin-top: 20px;
}
.claim-slider {
    margin-bottom: 50px;
}
.claim-slider .slick-arrow {
    transform: translateY(6px) !important;
}
.content-item {	
    display: block;
}
p.paragraph {
    font: normal normal normal 12px/20px Avenir Next LT Pro;
    letter-spacing: 0.6px;
}
a.primary-btn-new {
    font: normal normal normal 14px/50px Austin;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
}
		body .content-item {
    max-width: 100%;
    padding: 20px;
    position: relative;
    top: 0%;
    left: 0;
}
.claim-slider .slick-dots li {
    width: 60px;
}
.claim-slider .slick-dots li button {
    width: 55px !important;
}
.claim-slider .slick-dots li.slick-active button:before {
	width: 55px !important;
}
.claim-slider .slick-prev.slick-arrow {
    left: 5%;
    transform: translateY(0px);
}
.claim-slider .slick-next.slick-arrow {
    right: 30px;
    transform: translateY(0px);
}
body .claim-slider .slick-dots {
    bottom: -54px!important;
}
	}
		
	</style>
	
	<script>
        $('.slider-content-items').slick({
		  dots: true,
		  arrow: true,
		  centerPadding: '0',
		  centerMode: true,
		  
		  speed: 300,
		  slidesToShow: 1,
		  slidesToScroll: 1,
			responsive: [
		  {
			breakpoint: 1024,
			settings: {
			  slidesToShow: 1,
			  centerPadding: '50px',
			  slidesToScroll: 1,
			  infinite: true,
			  arrow: true,
			  dots: false
			}
		  },
		  {
			breakpoint: 600,			
			settings: {
				centerMode: false,
			centerPadding: '0',
			  slidesToShow: 1,
			  dots: true,
			  arrow: true,
			  slidesToScroll: 1
			}
		  },
		  {
			breakpoint: 480,
			settings: {
				centerMode: false,
			centerPadding: '0',	
			  slidesToShow: 1,
			  arrow: true,
			  dots: true,
			  slidesToScroll: 1
			}
		  }
		  // You can unslick at a given breakpoint now by adding:
		  // settings: "unslick"
		  // instead of a settings object
		]
		});
	  </script>
	
	
		{% schema %}
		{
		  "name": "Claim Slider",
		  "class": "claim-slider collection-box",
		  "max_blocks": 10,
		  "settings": [
		  {
			"type": "text",
			"id": "title_main",
			"label": "Heading",
			"default": "Heading"
		  }
			  
		  ],
		  "blocks": [
			{
			  "type": "image",
			  "name": "Collection Image",
			  "settings": [
			  {
				"type": "image_picker",
				"id": "featured_image",
				"label": "Select Slider Image"
			  },
			  {
				"type": "header",
				"content": "Slide Content"		  
				},
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Heading"
				  },
				  {
					"type": "html",
					"id": "paragraph",
					"label": "Content"
				  },
			  {
				"id": "linktext",
				"type": "text",
				"label": "Button Text"		  
				},
					  {
						"type": "url",
						"id": "link",
						"label": "Button Link"
						  },
							{
						"type": "select",
						"id": "sectionOrder",
						"options": [
						  { "value": "orderOne", "label": "Primary Button"},
						  { "value": "orderTwo", "label": "secondary Button"},
						  { "value": "orderThree", "label": "secondary White Button"}
						],
						"label": "Button Color"
						}

			  ]
			}
		  ],
		  "presets": [
			{
			  "name": "Claim Slider",
			  "category": "Claim Slider",
			  "blocks": [
				{ 
				  "type": "image"
				}
				
			  ]
			}
		  ]
		}
		{% endschema %}