<div class="rew_banner">
	<div class="container">
<div class="banner_inner">

  <div class="banner_inner_fixced">
	<div class="banner_login_box">
  <h3>My Account</h3>
  <div class="icon-text">
	  <span><img src="{{ 'coin-blac.svg' | asset_url }}"></span>
	  <h5>Earn Points For Every Purchase You Make.</h5>
  </div>
  <div class="account-buttons">  <a href="/account/register"> <img src="{{ 'sign-up.svg' | asset_url }}">SIGN UP </a>
	<a class="white" href="/account/login"> <img src="{{ 'user.svg' | asset_url }}">MY ACCOUNT </a></div>

	</div>
  </div>
	<div class="img-right">
   
		<img class="show-desktop" src="{{ 'Share-Rewards-Promo-Banner.jpg' | asset_img_url: 'master' }}">
    <img class="show-mob" src="{{ 'reward_mob.jpg' | asset_img_url: 'master' }}">

	</div>
</div>
	</div>
  </div>
  
  {% schema %}
  {
	"name": "Cohorted rewards banner",
	"class": "Cohorted_rew_banner",
	"settings": [
	  {
		"type": "html",
		"id": "text",
		"label": "Text",
		"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
	  }
	],
	"presets": [
	  {
		"name": "Cohorted rewards banner",
		"category": "Banner"
	  }
	]
  }
  {% endschema %}