
{%- assign collection = collections[section.settings.collection] -%}
 
<div class="feature-collection-main">
<div class="container">
    <div class="text-container-wrapper">
      <h2>{{ section.settings.title }}</h2>
     {{ section.settings.text }}
        </div>

   	<div class="feature-collection">   
 {% for product in collection.products %}

      <div class="feature-item">
       
	<div class="product-image">
    <a href="{{ product.url }}">  <img class="grid-view-item__image lazyload" src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.featured_image.alt | escape }}"></a>
      </div>
      <div class="h4 grid-view-item__title"><a href="{{ product.url }}">{{ product.title }}</a>
        <div class="price-box">
  {% assign price = product.price | money %}
  {% if product.available %}
  {% if product.price_varies %}
  <p class="minimal-price"><span class="price-label">From:</span><span class="price">{{ price }}</span></p>
  {% else %}
  <p class="special-price"><span class="price">{{ price }}</span></p>
  {% endif %}
  {% if product.compare_at_price_max > product.price %}
  <p class="old-price"><span class="price-sep">-</span><span class="price">{{ product.compare_at_price | money }}</span></p>
  {% endif %}
  {% else %}
  {% if product.price_varies %}
  <p class="minimal-price"><span class="price-label">From:</span><span class="price">{{ price }}</span></p>
  {% else %}
  <span class="regular-price"><span class="price">{{ price }}</span></span>
  {% endif %}
  {{ 'products.product.sold_out_html' | t }}
  {% endif %}
</div></div>       
      <div class="review-wrap">
  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
</div>
  </div> 
      
	

 {% endfor %}
       </div>
      </div>
</div>
<style>
  .slick-arrow {
    box-shadow: 0px 0px 16px #00000029;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    color: #000 !important;
    z-index: 1;
    opacity: 1 !important;
    background: #fff;
}
</style>
<script>
  $('.feature-collection').slick({
    dots: false,
    arrow: true,
    speed: 300,
    slidesToShow: 3,
    slidesToScroll: 1,
      responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
  });
</script>

{% schema %}
  {
    "name": "Feature Collection", 
    "settings": [
{
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
	{
      "type": "html",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
{
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }

],   
 
  "presets": [
    {
      "name": "Feature Collection"    
    }
]
  }
{% endschema %}
  