 <div id="footer-bg" class="footer-bg">
        <div id="footer">
          <div id="footer_a">
            <div class="container">
              <div class="row">

                <div class="footer-top">
                  <!-- <div class="logo-ft">
                    <img src="{{ 'logo-ft.png' | asset_url }}" title="Cohorted be you be beautiful, Cohorted" alt="Cohorted be you be beautiful, Cohorted" />
                  </div> -->
                  <div class="insta-header">
                    <div>
                    <h2 class="title_des"><i>Download </i>Cohorted <i>Cult App</i></h2>
                    <h2 class="title_phn">Join Us On The CohortedCult App</h2>
                    <small>Your new destination for all things beauty, fashion and more...</small>
                    </div>
                    <a class="secondary-btn white" href="/pages/cohorted-apps">DOWNLOAD NOW!</a>
                    </div>
                  <p class="text-center">{{ settings.footer_top_text }}</p>
                 
                </div>

              </div>
            </div>
          </div>
          <div id="footer_c">
            <div class="container">
              <!-- Information -->
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <div class="widget-heading clearfix">
                    <h3>
                      <span>{{ settings.footer_column1_title }}</span>
                      <span class="line-ft"></span>
                    </h3>
                  </div>
                  <div class="widget-text">
                    
                    
                    
                    <ul>
                      {% assign footerCol1 = settings.footer_column1_linklist %}
                      {% for link in linklists[footerCol1].links %}
                      <li>{{ link.title | link_to: link.url }}</li>
                      {% endfor %}
                    </ul>
                  </div>

                </div>
                <div class="col-md-3 col-sm-3">
                  <div class="widget-heading clearfix">
                    <h3>
                      <span>{{ settings.footer_column2_title }}</span>
                      <span class="line-ft"></span>
                    </h3>
                  </div>
                  <div class="widget-text">
                    <ul>
                      {% assign footerCol2 = settings.footer_column2_linklist %}
                      {% for link in linklists[footerCol2].links %}
                      <li>{{ link.title | link_to: link.url }}</li>
                      {% endfor %}
                    </ul>
                  </div>

                </div>
                <div class="col-md-3 col-sm-3">
                  <div class="widget-heading clearfix">
                    <h3>
                      <span>{{ settings.footer_column3_title }}</span>
                      <span class="line-ft"></span>
                    </h3>
                  </div>
                  <div class="widget-text">
                    <ul>
                      {% assign footerCol3 = settings.footer_column3_linklist %}
                      {% for link in linklists[footerCol3].links %}
                      <li>{{ link.title | link_to: link.url }}</li>
                      {% endfor %}
                    </ul>
                  </div>

                </div>
                <div class="col-md-3 col-sm-3">
                  <div class="widget-heading clearfix">
                    <h3>
                      <span>{{ settings.footer_column4_title }}</span>
                      <span class="line-ft"></span>
                    </h3>
                  </div>
                  <div class="widget-text">
                    {% if settings.footer_newsletter_enable %}
                    <div class="site-footer__newsletter footer-form">
                      {% form 'customer' %}
                        {{ form.errors | default_errors }}
                        {% if form.posted_successfully? %}
                          <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                        {% else %}
                         <p>Subscribe to the UK's number one luxury beauty box today and receive full-sized premium beauty products straight to your door each month.</p><br>
                          <div class="input-box">
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <input type="email"
                              name="contact[email]"
                              id="Email"
                              class="input-group__field newsletter__input"
                              value="{% if customer %}{{ customer.email }}{% endif %}"
                              placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                              autocorrect="off"
                              autocapitalize="off">
                              <button type="submit" class="button newsletter__submit" name="commit" id="Subscribe">
                                <img src="https://cdn.shopify.com/s/files/1/2635/3958/files/arrow-right_49313eb1-b17b-4ba2-9bdb-3f590ef7cd6b_30x.png?v=1637748503">
                              </button>
                           
                          </div>
                        {% endif %}
                      {% endform %}
                    </div>
                    {% endif %}	
                    <div class="socail_title">FOLLOW US</div>
                    <ul class="footer icon">
                      {% if settings.footer_facebook_link != '' %}
                      <li><a target="_blank" href="{{settings.footer_facebook_link}}"><i class="fa fa-facebook"></i></a></li>
                      {% endif %}
                      {% if settings.footer_twitter_link != '' %}
                      <li><a target="_blank" href="{{settings.footer_twitter_link}}"><i class="fa fa-twitter"></i></a></li>
                      {% endif %}
                      {% if settings.footer_pinterest_link != '' %}
                      <li><a target="_blank" href="{{settings.footer_pinterest_link}}"><i class="fa fa-pinterest-p"></i></a></li>
                      {% endif %}
                      {% if settings.footer_instagram_link != '' %}
                      <li><a target="_blank" href="{{settings.footer_instagram_link}}"><i class="fa fa-instagram"></i></a></li>
                      {% endif %}
                      {% if settings.footer_lindin_link != '' %}
                      <li><a target="_blank" href="{{settings.footer_lindin_link}}"><i class="fa fa-linkedin-square"></i></a></li>
                      {% endif %}
                      {% if settings.footer_googleplus_link != '' %}
                      <li><a target="_blank" href="{{settings.footer_googleplus_link}}"><i class="fa fa-google-plus"></i></a></li>
                      {% endif %}
                      
                    </ul>			
                  </div>	
                </div>										
              </div>
              <!-- End Information -->
            </div>
          </div>
          <div class="review-images">
            <div class="container">
            <a target="_blank" href="https://uk.trustpilot.com/review/www.cohorted.co.uk"><img src="https://cdn.shopify.com/s/files/1/2635/3958/files/trustpilot.png?v=1637836399"></a> <a target="_blank" href="https://www.reviews.co.uk/company-reviews/store/cohorted?utm_source=cohorted&utm_medium=widget&utm_campaign=badge-ribbon"><img src="https://cdn.shopify.com/s/files/1/2635/3958/files/reviews-logo.png?v=1639396133"></a></div></div>
          <div id="footer_d">
            <div class="container copyright-footer">
              <div class="footer">
                <div class="row">	    
                  <div class="footer-copyright-left col-md-7 col-sm-7">		    		
                    <address>{{ settings.copyright }}</address>	    	
                  </div>
                  <div class="footer-copyright-right col-md-5 col-sm-5">
                    <div class="paypal-logo">
                      {% if settings.payment_1_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="American Express, Cohorted" alt="American Express" src="{{ 'payment_image_1.png' | asset_url }}"/>
                      </a>
                      {% endif %}
                      {% if settings.payment_2_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="Apple Pay, Cohorted" alt="Apple Pay" src="{{ 'payment_image_2.png' | asset_url }}"/>
                      </a>
                      {% endif %}
                      {% if settings.payment_3_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="Discover, Cohorted" alt="Discover" src="{{ 'payment_image_3.png' | asset_url }}"/>
                      </a>
                      {% endif %}
                      {% if settings.payment_4_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="Google Pay, Cohorted" alt="Google Pay" src="{{ 'payment_image_4.png' | asset_url }}"/>
                      </a>
                      {% endif %}
                      {% if settings.payment_5_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="Klarna, Cohorted" alt="Klarna" src="{{ 'payment_image_5.png' | asset_url }}"/>
                      </a>
                      {% endif %}
                      {% if settings.payment_6_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="Master Card, Cohorted" alt="Master Card" src="{{ 'payment_image_6.png' | asset_url }}"/>
                      </a>	
                      {% endif %}
                      {% if settings.payment_7_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="PayPal, Cohorted" alt="PayPal" src="{{ 'payment_image_7.png' | asset_url }}"/>
                      </a>	
                      {% endif %}
                      {% if settings.payment_8_enable %}
                      <a target="_blank" href="javascript:;">
                        <img title="Visa, Cohorted" alt="Visa" src="{{ 'payment_image_8.png' | asset_url }}"/>
                      </a>	
                      {% endif %}
                    </div>		 
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end footer_d -->
        </div><!-- end footer --> 
      </div><!-- end footer-bg -->