<div class="section-column-gallery">
  <div class="row">
    <div style="padding:0;" class="col-md-6">
      <div class="image-box hide-phone">
        <img class="image_box_1" src="{{ section.settings.image_box_1 | img_url:'master'}}">
      </div>
    </div>
    <div style="padding:0;" class="col-md-6 gallery-content">
      <div class="text-container-wrapper">
      <h2>{{ section.settings.title }}</h2>
      <div class="description-before"><span></span>{{ section.settings.text }}
        </div>


                     {% if section.settings.url != blank %}
                        <div class="secondary-button"><a class="secondary-btn" href="{{ section.settings.url }}">{{ section.settings.url_text }}</a></div>
                        {% endif %}                        

                        {% if section.settings.icons_url_1 != blank %}
                        <div class="social-links-new">
                          <span class="title-follow">Follow Elle L on</span>
                          <span>
                            <a href="{{ section.settings.icons_url_1 }}"> 
                             <img class="social_icons" src="{{ section.settings.image_box_4 | img_url:'master'}}">
                            </a></span>
                          <span><a href="{{ section.settings.icons_url_2 }}">  
                            <img class="social_icons" src="{{ section.settings.image_box_5 | img_url:'master'}}">
                          </a></span>
                        </div>
                        {% endif %}

    </div> 
      
    <div class="row">
      <div class="image-box show-mob">
        <img class="image_box_1" src="{{ section.settings.image_box_1 | img_url:'master'}}">
      </div>
    </div>

        <div style="margin:0;" class="row"> 
           <div style="padding:0;" class="col-md-6 col-sm-6 col-xs-6 ">
      <div class="image-box">
        <img class="image_box_2" src="{{ section.settings.image_box_2 | img_url:'master'}}">
      </div>
        </div>
          <div style="padding:0;" class="col-md-6 col-sm-6 col-xs-6">
      <div class="image-box">
        <img class="image_box_3" src="{{ section.settings.image_box_3 | img_url:'master'}}">
      </div>
    </div>
      </div>
    </div>
    
  </div>
  

</div>  
<style>
.social-links-new {
  margin-bottom: 20px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.title-follow{
padding-right: 10px;
}
</style>
{% schema %}
{
  "name": "3 Column Gallery",
  "settings": [
 {
        "type": "image_picker",
        "id": "image_box_1",
        "label": "Image 1"
   },
    {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
	{
      "type": "html",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
 {
      "type": "text",
      "id": "url_text",
      "label": "Button Label"
    },
   {
      "type": "url",
      "id": "url",
      "label": "Button Link"
    },
{
        "type": "image_picker",
        "id": "image_box_2",
        "label": "Image 2"
   },
{
        "type": "image_picker",
        "id": "image_box_3",
        "label": "Image 3"
   },
   {
    "type": "header",
    "content": "Social Media"
},
{
  "type": "image_picker",
  "id": "image_box_4",
  "label": "Icon 1"
},
{
  "type": "url",
  "id": "icons_url_1",
  "label": "Icon 1 Link"
},
{
  "type": "image_picker",
  "id": "image_box_5",
  "label": "Icon 2"
},
{
  "type": "url",
  "id": "icons_url_2",
  "label": "Icon 2 Link"
}
  ],
 
  "presets": [
    {
      "name": "3 Column Gallery"   
    }
  ]
}
{% endschema %}
