 
<div style="background-color:{{ section.settings.bag-color }};" class="testimoni-main">
<div class="container">
	{% if block.settings.title != 'blank'%}
    <div class="text-container-wrapper">
      <h2>{{ section.settings.title }}</h2>
      {{ section.settings.text }}
	  <a target="_blank" class="{{ section.settings.btn_class }}" href="{{ section.settings.link }}">{{ section.settings.linktext }}</a>
        </div>
		{% endif %}
		
   	<div class="feature-collection">   
		{% for block in section.blocks %} 	
      <div class="feature-item">
		  {% if block.settings.featured_image != 'blank'%}
	<div class="product-image">
        <img class="testimonila-image" src="{{ block.settings.featured_image | img_url: 'master' }}" >
      </div>
	  {% endif %}
  </div> 
  {% endfor %}
       </div>
      </div>
</div>
<style>
	.testimonial-slider .slick-next:before {
	  content: url("{{'arrow-right.png' | asset_img_url:'25x20'}}") !important;
	}
	.testimonial-slider .slick-prev:before {
	  content: url("{{'arrow-left.png' | asset_img_url:'25x20'}}") !important;
	}
	.slick-arrow {
	  line-height: 68px;
  }
	.slick-prev {
	  background: #fff !important;
	  box-shadow: 0px 8px 32px #00000029;
	  border-radius: 50px;
	  width: 50px;
	  height: 50px;
	  z-index: 99;
	}
	.slick-next:before, .slick-prev:before {
	  color: #000;
	}
	.slick-next {
	  right: -10px;
	  background: #fff !important;
	  box-shadow: 0px 8px 32px #00000029;
	  border-radius: 50px;
	  width: 50px;
	  height: 50px;
	  z-index: 99;
	}
	.testimoni-main .secondary-btn {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
}
.testimonial-slider .text-container-wrapper {
    width: 100%;
    text-align: center;
    padding-right: 0;
    padding-bottom: 50px;
    padding-top: 50px;
}
@media(max-width:767px){
  #shopify-section-template--14211130196073__1638522509f8d1321f .product-box-inner {
    flex-direction: column-reverse;
}
.testimonial-slider .slick-prev.slick-arrow {
    left: -10px;
}
.testimonial-slider .slick-next.slick-arrow {
    right: -10px;
}
}
  </style>
<script>
  $('.feature-collection').slick({
    dots: false,
    arrow: true,
    speed: 300,
    slidesToShow: 5,
    slidesToScroll: 1,
      responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 4,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
  });
</script>


{% schema %}
{
  "name": "Image slider",
  "class": "testimonial-slider",
  "max_blocks": 50,
  "settings": [
  {
	"type": "text",
	"id": "title",
	"label": "Heading",
	"default": "Heading"
  },
{
  "type": "html",
  "id": "text",
  "label": "Text",
  "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
	"id": "link",
	"type": "url",
		 "label": "Button Link"
  },
  {
	"id": "linktext",
	"type": "text",
	"label": "Button Text"		  },
		  {
			"type": "text",
			"id": "btn_class",
			"label": "Button Class"
			  },
		  
{
	"type": "color",
	"id": "bag-color",
	"label": "Background Color"
  }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slider Image",
      "settings": [
	  
	  {
		"type": "image_picker",
		"id": "featured_image",
		"label": "Select Slider Image"
	  }
	  ]
	}
  ],
  "presets": [
    {
      "name": "Image slider",
      "category": "Image slider",
      "blocks": [
        { 
          "type": "image"
        }
        
      ]
    }
  ]
}
{% endschema %}
