
<div style="background:{{ section.settings.bg_color }};" class="{% if section.settings.enable_gradiant %}enable_gradiant {% else %} redeem-gifts {% endif %} ">
	<div  class=" container-full {% if section.settings.margin_bottom %} margin_bottom {% else %} container-full{% endif %} ">
		  <div class="{% if section.settings.swipe_column %}swipe_column {% else %} swipe_unset {% endif %}product-box-inner">
			
			<div style="order:{{ section.settings.section_order }};" class="product-image-content">
				{% if section.settings.title != blank %}
		<div class="{% if section.settings.overlap_heading %}overlap_heading {% else %} not_overlap {% endif %} text-container-wrapper full-width img-with-txt">
			
			<h2>{{ section.settings.title }}</h2>
			<div class="description-before"><span></span>{{ section.settings.text }}</div>
			<div class="description-before visibilty-hide"><span></span>

				<a class="{% if section.settings.sectionOrder == 'orderOne' %}primary-btn {% elsif section.settings.sectionOrder == 'orderTwo'%} secondary-btn {%else%} secondary-btn white{% endif%}"  href="{{ section.settings.link }}">{{ section.settings.linktext }}</a></div>
		
			
		  </div>
		  {% endif %}
			</div>
			<div class="product-feature-image">
				{% if section.settings.feature_image != blank %}
				<img class="show-desktop" src="{{ section.settings.feature_image | img_url:'master'}}">
				{% endif %}
				{% if section.settings.feature_mobile != blank %}
				<img class="show-mob" src="{{ section.settings.feature_mobile | img_url:'master'}}">
				{% else %}
				<img class="show-mob" src="{{ section.settings.feature_image | img_url:'master'}}">
				{% endif %}
			</div>
	
	
	</div>

	</div>
  </div>
  <style>
.overlap_heading { 
    position: relative;
    left: -100px;
}
.enable_gradiant {
    background: transparent linear-gradient(0deg, #E4E4E466 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box !important;
}
.margin_bottom {
    margin-bottom: 70px;
}
@media(max-width:767px){
	 .enable_gradiant {
    background: #E4E4E466 !important;
    margin-top: 50px;
}
.swipe_column{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
}
}
  </style>
  {% schema %}
  {
	"name": "Image With Text",
	"class": "text-with-image",
	"settings": [

	{
        "type": "text",
        "id": "section_order",
        "label": "section order"
	     },
	{
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
	  {
        "type": "checkbox",
        "id": "overlap_heading",
        "label": "Overlap Heading",
        "default": false
      },
	{
      "type": "html",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
		{
			"id": "linktext",
			"type": "text",
			"label": "Button Text"		  
		},
		{
		"id": "link",
		"type": "url",
		"label": "Button Link"
		},
		{
			"type": "select",
			"id": "sectionOrder",
			"options": [
			  { "value": "orderOne", "label": "Primary Button"},
			  { "value": "orderTwo", "label": "secondary Button"},
			  { "value": "orderThree", "label": "secondary White Button"}
			],
			"label": "Button Color"
			},
	{
        "type": "image_picker",
        "id": "feature_image",
        "label": "Select Image"
	      },
		  {
			"type": "image_picker",
			"id": "feature_mobile",
			"label": "Select Image Mobile"
			  },
		  {
			"type": "color",
			"id": "bg_color",
			"label": "Background Color"
			  },
	
			  {
				"type": "checkbox",
				"id": "enable_gradiant",
				"label": "Enable Gradiant Background",
				"default": false
				  },
				  {
					"type": "checkbox",
					"id": "swipe_column",
					"label": "Swipe Column Mob",
					"default": false
					  },
			  
				{
					"type": "checkbox",
					"id": "margin_bottom",
					"label": "Enable Bottom Gutter",
					"default": false
					  }	
					  
					  
				

	],
	"presets": [
	  {
		"name": "Image With Text",
		"category": "Image With Text"
		
	  }
	]
  }
  {% endschema %}
  