
<div class="redeem-gifts">
	<div class="container">
		{% if section.settings.title != blank %}

		<div class="text-container-wrapper full-width">
			<h2>{{ section.settings.title }}</h2>
			<div class="description-before">{{ section.settings.text }}</div>
		  </div>
		  {% endif %}

		  <div class="product-box-inner">
		<ul class="grid-point-listd">
			  {% for block in section.blocks %}  
			  <li><div class="product-box">
				  <img src="{{ block.settings.product_image | img_url:'master'}}">
				  <a href="{{ block.settings.link }}" class="product-btn">{{ block.settings.linktext }}</a>
			  </div></li>
			  {% endfor %}
			
		</ul>
		<div class="product-feature-image">
			<img src="{{ section.settings.feature_image | img_url:'master'}}">
		</div>
	</div>

	</div>
  </div>
 
  {% schema %}
  {
	"name": "Products with image",
	"class": "products-with-image",
	  "max_blocks": 4,
	"settings": [
	{
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
	{
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
	{
        "type": "image_picker",
        "id": "feature_image",
        "label": "Select Image"
	      }
	],
	"blocks": [
	  {
		"type": "select",
		"name": "Add Product",
		"settings": [
		{
			"type": "image_picker",
			"id": "product_image",
			"label": "Select Image"
			  },
		  {
			"id": "link",
			"type": "url",
				 "label": "Button Link"
		  },
		  {
			"id": "linktext",
			"type": "text",
			"label": "Button Text"		  }
		]
	  }
	],
	"presets": [
	  {
		"name": "Products with image",
		"category": "Earn Points",
		"blocks": [
		  { 
			"type": "select"
		  },
		  {
			"type": "select"
		  }
		]
	  }
	]
  }
  {% endschema %}
  
  <style>
	  @media(max-width:767px){
		.redeem-gifts .product-box-inner {
    margin-top: 0;
}
.redeem-gifts .grid-point-listd {
    padding: 0px 0;
	grid-gap: 10px;	
}
	  }
  </style>