
<div class="reward-earn-points">
	<div class="container">
		<ul class="grid-point-list">
			<div class="text-container-wrapper">
				<h2>{{ section.settings.title }}</h2>
				<div class="description-before"><span></span>{{ section.settings.text }}</div>
			  </div>

			  {% for block in section.blocks %}  
			  <li>
          <div class="point-box">
				  <div class="number-box">{{ block.settings.link }}</div>
				  <div>{{ block.settings.linktext }}</div>

          {% if block.settings.linktext2 != blank %} 
          <a href="{{ block.settings.link2 }}">{{ block.settings.linktext2 }}</a>
          {% endif %} 
			  </div>
      </li>
			  {% endfor %}
			
		</ul>

	</div>
  </div>
  <style>
   .point-box a {
    font: normal normal normal 15px/60px Austin;
    letter-spacing: 0.75px;
    width: 100%;
    background: #FFF5EF;
    margin-top: 30px;
    display: inline-block;
    color: #000;
}
	  .reward-earn-points {
    background: #F1F1F1;
	padding: 80px 0;
}
.number-box {
    width: 80px;
    height: 80px;
    box-shadow: 0px 15px 24px #DCDCDC;
    border-radius: 80px;
    font: normal normal normal 32px/84px 'Austin';
    margin-bottom: 20px;
	letter-spacing: 3.2px;

}
ul.grid-point-list li {
    width: 25%;
    padding: 10px;
    display: flex;
    align-items: center;
}
ul.grid-point-list {
    display: flex;
    flex-wrap: wrap;
}
.point-box {
    background: #fff;
    width: 100%;
    justify-content: center;
    height: 370px;
    align-items: center;
    display: flex;
    font-size: 15px;
    line-height: 24px;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}
.point-box h5 {
    letter-spacing: 1.2px;
    font-size: 24px;
    line-height: 34px;
    font-family: 'Austin';
    margin-top: 20px;
	margin-bottom: 0;
}
@media(max-width:991px){
  ul.grid-point-list li {
    width: 50%;
}
}
@media(max-width:767px){
  
	.reward-earn-points {
    padding: 40px 0;
}

.point-box a {
    font: normal normal normal 12px/40px Austin;  
}
ul.grid-point-list li {
    width: 50%;
    padding: 5px;
}
.number-box {
    width: 32px;
    height: 32px;
    font: normal normal normal 12px/34px 'Austin';
    margin-bottom: 0px;
    letter-spacing: 1.2px;
}
.point-box h5 {
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.point-box {
    height: 100%;
}
.point-box p{
font-size: 12px;
line-height: 16px;}

}
  </style>
  {% schema %}
  {
	"name": "Reward Grid Boxes",
	  "max_blocks": 6,
	"settings": [
	{
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
	{
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    }
	],
	"blocks": [
	  {
		"type": "select",
		"name": "Add Box",
		"settings": [
		  {
			"id": "link",
			"type": "text",
				 "label": "Number Text"
		  },
		  {
			"id": "linktext",
			"type": "html",
			"label": "Point Box Content"		  
    },
    {
			"id": "linktext2",
			"type": "text",
			"label": "Button Text"		  
    },
    {
			"id": "link2",
			"type": "url",
			"label": "Button Link"		  
    }
		]
	  }
	],
	"presets": [
	  {
		"name": "Reward Grid Boxes",
		"category": "Earn Points",
		"blocks": [
		  { 
			"type": "select"
		  },
		  {
			"type": "select"
		  }
		]
	  }
	]
  }
  {% endschema %}
  