<div class="rich-text">
	<div class="containers">
		{% if section.settings.text != blank %}
	  <div class="rich-content">
		<h2 class="heading">{{ section.settings.title }}</h2>
		<h5 class="content">{{ section.settings.text }}</h5>
	  </div>
	  {% endif %}
	  <ul class="buttons-section">
		{% if section.settings.linktext != blank %}
		<li>
			
			<a class="{% if section.settings.sectionOrder == 'orderOne' %}primary-btn {% elsif section.settings.sectionOrder == 'orderTwo'%} secondary-btn {%else%} secondary-btn white{% endif%}"  href="{{ section.settings.link }}">{{ section.settings.linktext }}</a>
		 
		</li>
		{% endif %}
	  </ul>
	  {% if section.settings.feature_image != blank %}
	  <div class="section-image">		
		<img class="show-desktops" src="{{ section.settings.feature_image | img_url:'master'}}">
		{% if section.settings.feature_mobile != blank %}
		<img class="show-mobs" src="{{ section.settings.feature_mobile | img_url:'master'}}">
		{% else %}
		<img class="show-mobs" src="{{ section.settings.feature_image | img_url:'master'}}">
		{% endif %}
		{% endif %}

	</div>
	
	</div>
  </div>

  <style>
	  img.show-desktops {
    display: none;
}
	  .rich-text .text-container.full-width {
    max-width: 100% !important;
}
.rich-text-main {
    padding-top: 70px;
}
h2.heading {
    font: normal normal normal 80px/85px Austin;
    letter-spacing: 4px;
    color: #000000;
    text-transform: capitalize;
}
.content{font: normal normal normal 15px/24px Avenir Next LT Pro;
letter-spacing: 0.75px;
color: #464646;
}
h5.content {
    letter-spacing: 0.75px;
    color: #464646;
    font-size: 15px;
    line-height: 24px;
    font-family: 'AVENIR LT STD 45 BOOK';
    margin: 40px 0 30px 0;
}

.section-image img {
    width: 100%;
}
.rich-content {
    padding: 0 25px;
    max-width: 65%;
    margin: 0 auto;
}
.rich-content h5 {
    font-size: 21px;
    line-height: 24px;
    font-family: 'Avenir LT Std 45 Book';
    margin-bottom: 40px;
}
.rich-content p {
    text-transform: initial;
    font-size: 15px;
}
@media(max-width:767px){
	.rich-text ul.buttons-section {
    display: flex !important;
}
	img.show-desktops {
    display: block;
}
img.show-mobs {
    display: none;
}
.rich-content {
    max-width: 100% !important;
}
.rich-text-main {
    padding-top: 40px;
}
}
  </style>
  {% schema %}

  {
	"name": "Rich Text",
	"class": "rich-text-main",
	
	"settings": [
	{
		"type": "text",
		"id": "title",
		"label": "Title"
	  },
	  {
		"type": "html",
		"id": "text",
		"label": "Text"
	  },
	  {
		"type": "text",
		"id": "linktext",
		"label": "Button Text"
	  },
	  {
		"type": "url",
		"id": "link",
		"label": "Button URL"
	  },
	  {
		"type": "select",
		"id": "sectionOrder",
		"options": [
		  { "value": "orderOne", "label": "Primary Button"},
		  { "value": "orderTwo", "label": "secondary Button"},
		  { "value": "orderThree", "label": "secondary White Button"}
		],
		"label": "Button Color"
		},
	  {
		"type": "image_picker",
		"id": "feature_image",
		"label": "Select Image"
		  },
		  {
			"type": "image_picker",
			"id": "feature_mobile",
			"label": "Select Mob Image"
			  }
	],
	"presets": [
	  {
		"name": "Rich Text",
		"category": "Text"
	  }
	]
  }
  {% endschema %}