<div class="tabs-main">
<ul class="shopify-tabs">
	<li class="current" data-tab="tab-description"><span>Who we are</span></li>
	<li data-tab="tab-specs"><span>What we do</span></li>
	<li data-tab="tab-delivery"><span>What we value</span></li>
	  </ul>
	  <div class="tab-slider">
  <div style="background-image: url('{{ section.settings.featured_image | img_url: 'master' }};');" id="tab-description" class="shopify-tab-content current">
	<div class="tab-content">
		<div class="text-container-wrapper">
			<h2>{{ section.settings.title }}</h2>
			{{ section.settings.text }}
			  </div>
			
	</div>
  </div>
  <div style="background-image: url('{{ section.settings.featured_image2 | img_url: 'master' }};');" id="tab-specs" class="shopify-tab-content">
	<div class="tab-content">
		<div class="text-container-wrapper">
			<h2>{{ section.settings.title2 }}</h2>
			{{ section.settings.text3 }}
			  </div>
	</div>
  </div>
  <div style="background-image: url('{{ section.settings.featured_image3 | img_url: 'master' }};');" id="tab-delivery" class="shopify-tab-content">
	<div class="tab-content">
		<div class="text-container-wrapper">
			<h2>{{ section.settings.title3 }}</h2>
			{{ section.settings.text3 }}
			  </div>
	</div>  </div>

</div>

</div>

  <style>
	  ul.shopify-tabs {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ffffff6e;
    width: 87%;
    left: 0;
    margin: 40px  auto;
    right: 0;
}
.tabs-main .text-container-wrapper h2 {
    color: #fff;
}
.tabs-main .text-container-wrapper p {
    color: #fff;
}
.tabs-main {
    position: relative;
}

.tab-content {
    position: absolute;
    bottom: 60px;
    text-align: left;
    color: #fff;
	padding: 25px 100px;
}
ul.shopify-tabs > li {
    background: none;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    font: normal normal normal 32px/70px 'Austin';
    position: relative;
    padding-right: 40px;
} 
ul.shopify-tabs > li span {
    position: relative;
    display: block;
}
ul.shopify-tabs > li span:before {
    content: "";
    position: absolute;
    background: transparent;
    height: 4px;
    width: 100%;
    bottom: -2px;
}
ul.shopify-tabs > li.current span:before {
    background: #fff!important;
    border-radius: 4px;
}
.shopify-tab-content{
    display: none;
    background: #f0f0f0;
    padding: 15px;
}
.shopify-tab-content.current{
    display: block;
}
  </style>
  <script type="text/javascript">
	$(document).ready(function(){
	  $('ul.shopify-tabs > li').click(function(){
		var tab_id = $(this).attr('data-tab');
  
		$(this).parent().find('li').removeClass('current');
		$('.shopify-tab-content').removeClass('current');
  
		$(this).addClass('current');
		$("#"+tab_id).addClass('current');
	  })
	})
  </script>

<script>
	if ($(window).width() < 767){
	$('.tab-slider').slick({	
	  dots: true,
	  arrow: false,
	  speed: 300,
	  slidesToShow: 1,
	  slidesToScroll: 1,
		responsive: [
	  {
		breakpoint: 1024,
		settings: {
		  slidesToShow: 1,
		  slidesToScroll: 1,
		  infinite: true,
		  dots: true
		}
	  },
	  {
		breakpoint: 600,
		settings: {
		  slidesToShow: 1,
		  slidesToScroll: 1
		}
	  },
	  {
		breakpoint: 480,
		settings: {
		  slidesToShow: 1,
		  slidesToScroll: 1
		}
	  }
	  // You can unslick at a given breakpoint now by adding:
	  // settings: "unslick"
	  // instead of a settings object
	]
	});
}
  </script>

  <style>
.shopify-tab-content {
    height: 700px;
	background-position: center;

}

@media(max-width:767px){

	.shopify-tab-content {
    height: 590px; 
    object-fit: cover;
    background-position: center;
}
ul.shopify-tabs {
    display: none;
}
.tab-content {
    position: relative;
    bottom: 30px;
    text-align: left;
    color: #fff;
    padding: 25px 0px;
    height: 100%;
    display: flex;
    align-items: end;
}
.tabs-main .slick-dots {
    bottom: 10px!important;
    text-align: left;
    padding: 0 20px;
}
.tabs-main .slick-dots li button {
    border: 1px solid #fff!important;
}
.tabs-main .slick-dots li.slick-active button:before {
    background: #fff!important;
}
}

  </style>
  {% schema %}

  {
	"name": "Tabs",
	"name":"site-tabs",
	"class": "rich-text-main tabs",
	
	"settings": [
	{
		"type": "image_picker",
		"id": "featured_image",
		"label": "Tab Image 1"
		  },
	{
		"type": "text",
		"id": "title",
		"label": "Heading",
		"default": "Heading"
	  },
	{
	  "type": "html",
	  "id": "text",
	  "label": "Text",
	  "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
	},
	{
		"type": "image_picker",
		"id": "featured_image2",
		"label": "Tab Image 2"
		  },
	{
		"type": "text",
		"id": "title2",
		"label": "Heading 2",
		"default": "Heading"
	  },
	{
	  "type": "html",
	  "id": "text2",
	  "label": "Text 2",
	  "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
	},

	{
		"type": "image_picker",
		"id": "featured_image3",
		"label": "Tab Image 3"
		  },
	{
		"type": "text",
		"id": "title3",
		"label": "Heading 3",
		"default": "Heading"
	  },
	{
	  "type": "html",
	  "id": "text3",
	  "label": "Text 3",
	  "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
	}
	  
		  
	],
	"presets": [
	  {
		"name": "Tabs",
		"category": "Tabs"
	  }
	]
  }
  {% endschema %}