<div style="background-image: url({% if collection.image %}{{ collection.image | img_url: 'original' }}{% else %}{{ 'header_default_img.jpg' | asset_url }}{% endif %})" class="parallax-box parrallax-page-title alt-bg parallax-shop" data-stellar-background-ratio="0.4">
  <div class="parallax-title-content">
    <h1><span>{{ 'collections.list_collections.product_collections' | t }}</span></h1>
    <div class="breadcrumbs">
      <ul>
        <li class="home">
          <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span><span> &gt; </span>
        </li>
        <li><span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">Collections</span></span></li>
      </ul>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="novaworks-main-content">
    <div class="main container">
      <div class="row columns-layout">
        <div class="col-main col-sm-12">
          <div class="row category-list">
          {% for collection in collections %}
          {% unless collection.all_products_count == 0 or collection.handle == "frontpage" %}
          {% include 'collection-loop' %}
          {% endunless %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
